# this notebook will be mainly used for the capstone project

In [3]:
import pandas as pd 
import numpy as np

In [4]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Week 3 Assignment

# Question 1

In [5]:
#obtain the data and to transform the data into a pandas  dataframe

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)

In [6]:
df = df[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [7]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

df = df[df['Borough'] != 'Not assigned']
df.reset_index(drop=True)

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [8]:
df.shape

(103, 3)

# Question 2

In [9]:
#obtain the data and to transform the data into a pandas  dataframe

csv_url = 'https://cocl.us/Geospatial_data'
df_geocode = pd.read_csv(csv_url)

In [12]:
df_geocode

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [13]:
df.merge(df_geocode, how='inner', on='Postal Code')

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

# Question 3

In [30]:
# work with only boroughs that contain the word Toronto

df_Toronto = df[df['Borough'].str.contains('Toronto', regex=False)]

In [28]:
df_Toronto

,Postal Code,Borough,Neighbourhood
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
13,M5B,Downtown Toronto,"Garden District, Ryerson"
22,M5C,Downtown Toronto,St. James Town
30,M4E,East Toronto,The Beaches
31,M5E,Downtown Toronto,Berczy Park
40,M5G,Downtown Toronto,Central Bay Street
41,M6G,Downtown Toronto,Christie
49,M5H,Downtown Toronto,"Richmond, Adelaide, King"
50,M6H,West Toronto,"Dufferin, Dovercourt Village"
58,M5J,Downtown Toronto,"Harbourfront East, Union Station, Toronto Islands"
59,M6J,West Toronto,"Little Portugal, Trinity"
66,M4K,East Toronto,"The Danforth West, Riverdale"
67,M5K,Downtown Toronto,"Toronto Dominion Centre, Design Exchange"
68,M6K,West Toronto,"Brockton, Parkdale Village, Exhibition Place"
75,M4L,East Toronto,"India Bazaar, The Beaches West"
76,M5L,Downtown Toronto,"Commerce Court, Victoria Hotel"
84,M4M,East Toronto,Studio District
93,M4N,Central Toronto,Lawrence Park
94,M5N,Central Toronto,Roselawn
102,M4P,Central Toronto,Davisville North
103,M5P,Central Toronto,"Forest Hill North & West, Forest Hill Road Park"
104,M6P,West Toronto,"High Park, The Junction South"
111,M4R,Central Toronto,"North Toronto West, Lawrence Park"
112,M5R,Central Toronto,"The Annex, North Midtown, Yorkville"
113,M6R,West Toronto,"Parkdale, Roncesvalles"
120,M4S,Central Toronto,Davisville
121,M5S,Downtown Toronto,"University of Toronto, Harbord"
122,M6S,West Toronto,"Runnymede, Swansea"
129,M4T,Central Toronto,"Moore Park, Summerhill East"
130,M5T,Downtown Toronto,"Kensington Market, Chinatown, Grange Park"
138,M4V,Central Toronto,"Summerhill West, Rathnelly, South Hill, Forest..."
139,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
147,M4W,Downtown Toronto,Rosedale
148,M5W,Downtown Toronto,Stn A PO Boxes
156,M4X,Downtown Toronto,"St. James Town, Cabbagetown"
157,M5X,Downtown Toronto,"First Canadian Place, Underground city"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."